@use 'sass:math';
.playingCardBody{
    box-shadow: 5px -1px 9px rgb(69, 53, 53);
    height: 275px;
    width: 185px;
    position: relative;
    border: 1px solid black;
    margin: -172px 6px 6px 17px;
    .playingCardHeader{
        font-weight: 300;
    }
    background-color: lightgray;
}

// First card
@keyframes card1HoverOut  {
    from {
        left: 100px;
        top: 100px;   
    }
    to {
        left: 80px;
        top: 60px;
    }
}
@keyframes firstCard1HoverIn  {
    from {
        left: 80px;
        top: 60px;
        opacity:0;
    }
    to {
        left: 100px;
        top: 100px;   
        opacity:1;
    }
}
@keyframes card1HoverIn  {
    from {
        left: 80px;
        top: 60px;
    }
    to {
        left: 100px;
        top: 100px;   
    }
}

.playingCardBody:nth-child(1) {
    transform: rotate(-25deg);
    position: relative;
    left: 100px;
    top: 100px;
    -webkit-animation-name: firstCard1HoverIn;
    -webkit-animation-duration: 1s;
}

.playingCardBody.alreadyHovered:nth-child(1){
    -webkit-animation-name: card1HoverIn;
}

.playingCardBody:nth-child(1):hover {
  -webkit-animation-name: card1HoverOut;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}
// second card


.playingCardBody:nth-child(2) {
    transform: rotate(-12deg);
    position: relative;
    left: 45px;
    top: 50px;
}




// Third card
.playingCardBody:nth-child(3) {
    position: relative;
    left: 0px;
    top: 36px;
}

// Fourth card


.playingCardBody:nth-child(4) {
    transform: rotate(12deg);
    position: relative;
    left: -45px;
    top: 50px;
}
// Fifth Card

.playingCardBody:nth-child(5) {
    transform: rotate(25deg);
    position: relative;
    left: -100px;
    top: 100px;
}